{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 55.6867243,
    "longitude": 12.5700724,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Copenhagen",
    "external_url": null,
    "internal_url": "http://10.81.138.9:8123",
    "currency": "DKK",
    "country": "DK",
    "language": "en",
    "radius": 100
  }
}